##
# vavi-speech
#

sudachi.dir=/Users/you/src/vavi-speech/src/test/resources/sudachi

sen.home=/Users/you/src/java/sen/src/main/home

aquesTalk10DevKey=XXXX-XXXX-XXXX-XXXX
aquesTalk2DevKey=ZZZZ-ZZZZ-ZZZZ-ZZZ
aqKanji2KoeDevKey=YYYY-YYYY-YYYY-YYYY

google.credential=tmp/google-app-credentials.json

docomo.goo.hiragana.apiKey=123456789

recruit.proofreading.apiKey=abcdefg

yahoo.japan.apiKey=abc123

aquesTalk2font=foo/bar/aq_f1b.phont